<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>--COMMAND BOX--</title>
</head>
<body>
    <fieldset>
        <h1>COMMAND BOX</h1>
        <form action="{{url_for('command_box')}}" method="post">
            <b>ENTER COMMAND <label>*</label></b>
            <input type="text" name="command" id="nor_input" placeholder="ENTER COMMAND [EXAMPLE: ls, pwd, whoami, date, cal, echo, uname, etc.]">
            <button id="nor_btn">EXECUTE COMMAND</button>
        </form>
        <b>OUTPUT:</b>
        <fieldset>
            <legend><b>RESULT</b></legend>
            {{code}}
        </fieldset>
    </fieldset>
</body>
</html>